.btn {
  width: 200px;
  padding: 4px;
  border: 2px solid #407bff;
  border-radius: 4px;
  color: blue;
  margin-left: 150px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #80ff4e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: aliceblue;
  border: 2px solid white;
}

.button {
  width: 300px;
  padding: 10px;
  border: 2px solid #ff40a0;
  border-radius: 4px;
  color: rgb(111, 240, 212);
  margin-left: 150px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #90c9f8;
  box-shadow: 0 4px 8px rgba(247, 171, 171, 0.2);
  color: rgb(252, 252, 252);
  border: 2px solid rgb(186, 212, 250);
}
